<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Ecom</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Начинается ли эта строка cookie с имени, которое нам нужно?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Разделить строку cookie и получить все отдельные пары имя=значение в массиве
		    var cookieArr = document.cookie.split(";");

		    // Пройтись по элементам массива
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Удаление пробела в начале имени файла cookie
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Расшифровать значение cookie и вернуть
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Вернуть null, если не найдено
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)

	</script>

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="{% url 'store' %}">Dzanbo Store</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
<!--			{% load crispy_forms_tags %}-->
<!--				<div class="container py-5">-->
<!--			<h1>Register</h1>-->
<!--			<form method="POST">-->
<!--				{% csrf_token %}-->
<!--			{{ register_form|crispy }}-->
<!--			<button class="btn btn-primary" type="submit">Register</button>-->
<!--			</form>-->
<!--			<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>-->
<!--			</div>-->


	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
			  <form class="search" action="{% url 'search_results' %}" msearethod="get">
     			<input name="q" class="search-txt" type="text" name="" placeholder="Type to search">
     			<button class="search-btn" href="#" >
					<img width="20" height="20" src="../../static/images/zoom.png" alt="search-icon">
<!--        			<i class="fas fa-search"></i>-->
     			</button>
    		</form>

<!--	        <form style="-->
<!--    position: relative;" action="{% url 'search_results' %}" msearethod="get">-->
<!--  				<input style="-->
<!--    position: absolute; bottom: 0" name="q" type="text" placeholder="Search...">-->
<!--			  <button class="search-icon" type="submit"></button>-->
<!--&lt;!&ndash;			  <button class="search-icon" type="submit"><img src="../../static/images/zoom.png" alt="search icon"></button>&ndash;&gt;-->
<!--			</form>-->
	      </li>
			<li class="nav-item navbar_category">
				<h6><b>Category</b></h6>
					  <div class="navbar_dropdown">

						  <ul>
							  <a href="{% url 'books' %}"><li>All</li></a>
							  {% for genree in genres %}
							  <a href="{% url 'genre' genree.id %}"><li>{{ genree.name}}</li></a>
							  {% endfor %}
						  </ul>

					  </div>

	      </li>
			<li class="nav-item">
			{% if not request.user.is_authenticated %}
	     	<a href="{% url 'register' %}"class="btn btn-warning">Registration</a>
			<a href="{% url 'login' %}"class="btn btn-warning">Login</a>
			{% else %}
				<span class="badge bg-success">Hello,{{request.user.username}}</span>
			<a href="{% url 'logout' %}"class="btn btn-warning">Logout</a>
			{% endif %}
	     	<a href="{% url 'cart' %}" class="cartIcon">
	    		<img  id="cart-icon" src="{% static 'images/cart.png' %}">
					    	<p id="cart-total">{{cartItems}}</p>
	    	</a>
	      </li>
	    </ul>



<!--		  <div class="navbar navbar_category">Category</div>-->



	  </div>
	</nav>

     <div class="container">
            <br>
            {% block content %}


            {% endblock content %}
         </div>


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

	<footer>
  <!-- Footer main -->
  <section class="ft-main">
    <div class="ft-main-item">
      <h2 class="ft-title">About</h2>
      <ul>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Customers</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Resources</h2>
      <ul>
        <li><a href="#">Docs</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">eBooks</a></li>
        <li><a href="#">Webinars</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Contact</h2>
      <ul>
        <li><a href="#">Help</a></li>
        <li><a href="#">Sales</a></li>
        <li><a href="#">Advertise</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Stay Updated</h2>
      <p>Get free updates before others do!</p>
      <form>
        <input type="email" name="email" placeholder="Enter email address">
        <input type="submit" value="Subscribe">
      </form>
    </div>
  </section>

  <!-- Footer social -->
  <section class="ft-social">
    <ul class="ft-social-list">
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-github"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
    </ul>
  </section>

  <!-- Footer legal -->
  <section class="ft-legal">
    <ul class="ft-legal-list">
      <li><a href="#">Terms &amp; Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li>&copy; 2022 by IT-RUN, LLC</li>
    </ul>
  </section>
</footer>
</body>
</html>