{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
<!--			<img class="thumbnail" src="{{product.imageURL}}">-->
			<picture class="product_picture">
  <source srcset="{{product.imageURL}}" type="image/svg+xml">
  <img src="{{product.imageURL}}" class="img-fluid img-thumbnail" alt="...">
</picture>
			<div class="box-element product">
				<h4><strong>{{product.name}}</strong></h4>
				<hr>

				<button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				<a class="btn btn-outline-success" href="{% url 'view_item' product.id  %}">View</a>
				<h4 class="price" style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>

			</div>
		</div>


		{% endfor%}
	</div>
{% endblock content %}


