{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="views__content container">
    <picture class="views__pic">
        <source srcset="{{product.imageURL}}" type="image/svg+xml">
        <img src="{{product.imageURL}}" class="img-fluid img-thumbnail" alt="...">
    </picture>
    <div class="views__about">
        <h2>{{product.name}}</h2>
        <p>{{product.description}}</p>
        <h2>{{comment.email}}</h2>

        <h2>Comments....</h2>
        {% if not post.comments.all%}
            No comments yet...<a href="#"
             Add One</a>
        {% else %}
            {% for comment in post.comments.all%}
                <strong>
                {{ comment.name }} -
                {{ comment.date.added }}
                </strong>
                <br/>
                {{comment.body}}
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock  %}
